<section id="collection">
  <div class="grid grid-cols-3 gap-3">
    <div class="relative">
      <img
        class=""
        src="https://file.hstatic.net/200000307615/file/fnoss1627_308b8c5c4f6d48e69e8532246ca03221.png"
        alt=""
      />
      <div class="absolute bottom-20 left-20">
        <p class="uppercase text-white my-4">
          NZ41 - BIKER DENIM - LIGHT BLUE V2
        </p>
        <h3 class="uppercase text-white my-4 font-semibold text-2xl">BOLD</h3>
        <button class="text-white bg-black py-2 px-8 text-xs">
          XEM CHI TIẾT
        </button>
      </div>
    </div>
    <div class="relative">
      <img
        src="https://file.hstatic.net/200000307615/file/fnoss1339_5ac7053dff0c4316a51bb66a66d1d053.png"
        alt=""
      />
      <div class="absolute bottom-20 left-20">
        <p class="uppercase text-white my-4">
          NZ41 - BIKER DENIM - LIGHT BLUE V2
        </p>
        <h3 class="uppercase text-white my-4 font-semibold text-2xl">BOLD</h3>
        <button class="text-white bg-black py-2 px-8 text-xs">
          XEM CHI TIẾT
        </button>
      </div>
    </div>
    <div class="relative">
      <img
        src="https://file.hstatic.net/200000307615/file/fnoss1887_cd400fb926034129829e4c2d1bff5cda.png"
        alt=""
      />
      <div class="absolute bottom-20 left-20">
        <p class="uppercase text-white my-4">
          NZ41 - BIKER DENIM - LIGHT BLUE V2
        </p>
        <h3 class="uppercase text-white my-4 font-semibold text-2xl">BOLD</h3>
        <button class="text-white bg-black py-2 px-8 text-xs">
          XEM CHI TIẾT
        </button>
      </div>
    </div>
  </div>
</section>
