<section
  [ngClass]="
    notification == 1
      ? 'fixed left-1/2 top-[50px] z-[1000]'
      : 'fixed left-1/2 top-[-50px] z-[1000]'
  "
  style="transform: translate(-50%, -50%); transition: all 0.35s"
>
  <div
    class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
    role="alert"
  >
    <svg
      aria-hidden="true"
      class="flex-shrink-0 inline w-5 h-5 mr-3"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
        clip-rule="evenodd"
      ></path>
    </svg>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">Đăng xuất thành công !!!</span>
    </div>
  </div>
</section>
<div class="w-full bg-gray-100 sticky top-0 z-10">
  <header
    class="max-w-[1440px] m-auto grid grid-flow-col justify-between items-center auto-cols-max py-3 px-6 relative"
  >
    <!-- Logo -->
    <div class="flex-shrink-0">
      <a routerLink="/">
        <img
          width="130px"
          height="100px"
          src="https://i.ibb.co/jRBq1Qg/Fstore-logo-ngang.png"
          alt="Logo"
        />
      </a>
    </div>
    <!-- Left side menu -->
    <div
      [ngClass]="
        isShowMenu
          ? 'max-lg:top-0 max-lg:absolute max-lg:right-0 max-lg:w-full max-lg:bg-gray-100 max-lg:mt-16 max-lg:py-3 dark:text-white dark:bg-black max-lg:hidden menuMobile active'
          : 'max-lg:top-0 max-lg:absolute max-lg:right-0 max-lg:w-full max-lg:bg-gray-100 max-lg:mt-16 max-lg:py-3 dark:text-white dark:bg-black max-lg:hidden'
      "
    >
      <nav
        class="grid-rows-1 flex max-lg:w-full max-lg:flex-col max-lg:text-center"
      >
        <a
          routerLink="/"
          class="text-gray-800 hover:text-gray-700 font-medium px-3 py-2"
          >Trang chủ</a
        >
        <a
          routerLink="/product"
          class="text-gray-500 hover:text-gray-600 font-medium px-3 py-2"
          >Sản phẩm</a
        >
        <a
          routerLink="/about"
          class="text-gray-500 hover:text-gray-600 font-medium px-3 py-2"
          >Giới thiệu</a
        >
        <a
          routerLink="/contact"
          class="text-gray-500 hover:text-gray-600 font-medium px-3 py-2"
          >Liên hệ</a
        >
      </nav>
    </div>

    <!-- Right side icons -->
    <div>
      <nav class="grid-rows-3 flex items-center">
        <button
          (click)="showSearch()"
          class="text-gray-600 hover:text-gray-600 font-medium px-3 py-2"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button
          (click)="showCart()"
          class="text-gray-600 hover:text-gray-600 font-medium px-3 py-2"
        >
          <i class="fas fa-shopping-cart"></i>
        </button>
        <button class="relative" (click)="checkAccount()">
          <a
            *ngIf="isMathGuest == true"
            routerLink="/auth"
            class="text-gray-600 hover:text-gray-600 font-medium px-3 py-2"
          >
            <i class="fas fa-user"></i>
          </a>
          <a
            *ngIf="isMathGuest == false"
            class="text-gray-600 hover:text-gray-600 font-medium px-3 py-2"
          >
            <i class="fas fa-user"></i>
          </a>
          <aside
            *ngIf="isShowProfile == true"
            class="absolute w-[180px] h-auto top-[40px] left-[-190%] bg-slate-100 rounded-lg py-3 px-3"
          >
            <div class="w-full flex items-center justify-center">
              <a routerLink="/account">
                <div class="w-9 h-9 bg-red-500 rounded-full relative">
                  <span
                    class="absolute top-[50%] left-[50%] font-bold text-white"
                    style="transform: translate(-50%, -50%)"
                    >Đ</span
                  >
                </div>
              </a>
            </div>
            <div class="py-1 border-b hover:border-red-200">
              <a routerLink="/my-bill" class="text-sm font-semibold"
                >Danh sách đơn hàng</a
              >
            </div>
            <div class="py-1 border-b hover:border-red-200">
              <a routerLink="/change-password" class="text-sm font-semibold"
                >Đổi mật khẩu</a
              >
            </div>
            <div
              class="py-1 border-b hover:border-red-200"
              (click)="logoutAccount()"
            >
              <a class="text-sm font-semibold">Đăng xuất</a>
            </div>
          </aside>
        </button>
        <button
          class="text-gray-600 hover:text-gray-600 font-medium px-3 py-2 hidden max-lg:block"
          (click)="menuMobile($event)"
        >
          <i class="fa-solid fa-bars" id="iconMenu2"></i>
        </button>
      </nav>
    </div>
  </header>
  <div id="cart" class="absolute right-0 z-99 bg-white hidden">
    <app-cart></app-cart>
  </div>
  <div id="search" class="absolute p-2 right-0 z-99 bg-white hidden">
    <app-search-product></app-search-product>
  </div>
</div>
