<footer class="w-full text-gray-600 bg-gray-100 py-7">
  <div
    class="grid md:grid-cols-3 md:gap-4 max-w-[1440px] m-auto justify-around"
  >
    <div class="col-span-1">
      <p class="text-sm font-medium">
        @ Copyright © 2023
        <a href="" class="text-decoration-none hover:underline"
          >Group 9 WD17309</a
        >, Inc.
      </p>
    </div>
    <div
      class="col-span-2 md:flex max-md:flex max-md:flex-wrap text-sm font-medium md:justify-end"
    >
      <div>
        <a href="">Địa chỉ chúng tôi <span class="px-2">&#8226;</span></a>
      </div>
      <div>
        <a href="">Điều khoản & Chính sách <span class="px-2">&#8226;</span></a>
      </div>
      <div>
        <a href="">Giấy phép kinh doanh <span class="px-2">&#8226;</span></a>
      </div>
      <div>
        <a href="">Đội ngũ hỗ trợ</a>
      </div>
    </div>
  </div>
</footer>
