<footer class="container">
  <div class="row">
    <div class="col-sm">
      <p>
        @ Bản quyền thuộc
        <a href="" class="text-decoration-none">Group 9 WD17309</a>
      </p>
    </div>
    <div class="col-sm d-flex gap-3">
      <div>
        <a href="" class="text-decoration-none text-dark"
          >Chính sách & Điều khoản</a
        >
      </div>
      <div>
        <a href="" class="text-decoration-none text-dark">Câu hỏi thường gặp</a>
      </div>
      <div class="d-flex gap-2 flex-row-reverse">
        <a href=""><i class="bi bi-github" style="color: black"></i></a>
        <a href=""><i class="bi bi-wechat" style="color: black"></i></a>
        <a href=""><i class="bi bi-facebook" style="color: black"></i></a>
      </div>
    </div>
  </div>
</footer>
