<div class="w-full bg-gray-100">
  <header
    class="max-w-[1440px] m-auto grid grid-flow-col justify-between items-center auto-cols-max py-4 px-6"
  >
    <!-- Logo -->
    <div class="flex-shrink-0">
      <a href="#">
        <img
          width="130px"
          height="100px"
          src="https://i.ibb.co/jRBq1Qg/Fstore-logo-ngang.png"
          alt="Logo"
        />
      </a>
    </div>
    <!-- Left side menu -->
    <div
      class="max-lg:top-0 max-lg:absolute max-lg:right-0 max-lg:w-full max-lg:bg-gray-100 max-lg:mt-16 max-lg:py-3 dark:text-white dark:bg-black max-lg:hidden"
    >
      <nav
        class="grid-rows-1 flex max-lg:w-full max-lg:flex-col max-lg:text-center"
      >
        <a
          href="#"
          class="text-gray-800 hover:text-gray-700 font-medium px-3 py-2"
          >Trang chủ</a
        >
        <a
          href="/product"
          class="text-gray-500 hover:text-gray-600 font-medium px-3 py-2"
          >Sản phẩm</a
        >
        <a
          href="#"
          class="text-gray-500 hover:text-gray-600 font-medium px-3 py-2"
          >Giới thiệu</a
        >
        <a
          href="#"
          class="text-gray-500 hover:text-gray-600 font-medium px-3 py-2"
          >Liên hệ</a
        >
      </nav>
    </div>

    <!-- Right side icons -->
    <div>
      <nav class="grid-rows-3 flex items-center">
        <button class="text-gray-600 hover:text-gray-600 font-medium px-3 py-2">
          <i class="fa-solid fa-heart"></i>
        </button>
        <button class="text-gray-600 hover:text-gray-600 font-medium px-3 py-2">
          <i class="fas fa-shopping-cart"></i>
        </button>
        <a
          href="#"
          class="text-gray-600 hover:text-gray-600 font-medium px-3 py-2"
        >
          <i class="fas fa-user"></i>
        </a>
        <button
          class="text-gray-600 hover:text-gray-600 font-medium px-3 py-2 hidden max-lg:block"
        >
          <i class="fa-solid fa-bars"></i>
        </button>
      </nav>
    </div>
  </header>
</div>
