<section class="contact container mx-auto lg:px-0 px-3">
  <div class="grid lg:grid-cols-5 grid-cols-1 lg:gap-8 gap-0">
    <div class="col-span-2 my-6">
      <img
        class="w-full"
        src="https://file.hstatic.net/200000307615/file/fnoss1339_5ac7053dff0c4316a51bb66a66d1d053.png"
        alt=""
      />
    </div>
    <div class="col-span-3">
      <h2 class="font-black text-3xl mt-10">LIÊN HỆ</h2>
      <hr class="w-[50px] my-6 h-[6px] border-none bg-black" />
      <div class="my-6">
        <p class="text-gray-500">Địa chỉ chúng tôi</p>
        <h4 class="font-bold">
          Cổng số 1, Tòa nhà FPT Polytechnic, phố Trịnh Văn Bô, phường Phương
          Canh, quận Nam Từ Liêm, TP Hà Nội
        </h4>
      </div>
      <div class="my-6">
        <p class="text-gray-500">Email chúng tôi</p>
        <h4 class="font-bold">thaivhph28695@fpt.edu.vn</h4>
      </div>
      <div class="my-6">
        <p class="text-gray-500">Điện thoại chúng tôi</p>
        <h4 class="font-bold">0904604796</h4>
      </div>
      <div class="my-6">
        <p class="text-gray-500">Địa chỉ chúng tôi</p>
        <h4 class="font-bold">
          Cổng số 1, Tòa nhà FPT Polytechnic, phố Trịnh Văn Bô, phường Phương
          Canh, quận Nam Từ Liêm, TP Hà Nội
        </h4>
      </div>

      <h2 class="font-black text-3xl mt-10">Gửi thắc mắc cho chúng tôi</h2>
      <hr class="w-[50px] my-6 h-[6px] border-none bg-black" />
      <form action="">
        <input
          type="text"
          class="bg-[#FBFBFB] w-full border focus:outline-none px-3 py-1"
          placeholder="Tên của bạn"
        />
        <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-8 gap-4 my-4">
          <input
            class="bg-[#FBFBFB] border focus:outline-none px-3 py-1"
            type="text"
            placeholder="Email của bạn"
          />
          <input
            class="bg-[#FBFBFB] border focus:outline-none px-3 py-1"
            type="text"
            placeholder="Số điện thoại của bạn"
          />
        </div>
        <textarea
          class="border w-full px-3 py-1 focus:outline-none"
          placeholder="Nội dung"
          name=""
          id=""
          cols="30"
          rows="10"
        ></textarea>
        <button class="bg-black text-white px-8 py-3 my-6">
          GỬI CHO CHÚNG TÔI
        </button>
      </form>
    </div>
  </div>
</section>
