<section class="px-4">
  <h1 class="font-bold text-xl pb-3">Quản lý đơn hàng</h1>
  <section class="w-full">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <div class="flex items-center justify-between pb-4">
        <div class="flex gap-1">
          <button
            (click)="getAllBill()"
            type="button"
            class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
          >
            Tất cả đơn hàng
          </button>
          <button
            (click)="getBillFollowStatus('pending')"
            type="button"
            class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900"
          >
            Chờ duyệt
          </button>
          <button
            (click)="getBillFollowStatus('approved')"
            type="button"
            class="focus:outline-none text-white bg-orange-400 hover:bg-orange-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:focus:ring-yellow-900"
          >
            Đã duyệt
          </button>

          <button
            (click)="getBillFollowStatus('delivery in progress')"
            type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          >
            Đang giao
          </button>
          <button
            (click)="getBillFollowStatus('delivered')"
            type="button"
            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
          >
            Đã giao
          </button>
          <button
            (click)="getBillFollowStatus('cancellation')"
            type="button"
            class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
          >
            Đã huỷ
          </button>
          <button
            (click)="getBillFollowStatus('delivery failed')"
            type="button"
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
          >
            Không nhận hàng
          </button>
        </div>
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
          <form
            [formGroup]="formSearchData"
            (ngSubmit)="searchName()"
            class="flex gap-3"
          >
            <select formControlName="status">
              <option value="no" [selected]="true">Tất cả trạng thái</option>
              <option value="pending">Chờ duyệt</option>
              <option value="approved">Đã duyệt</option>
              <option value="delivery in progress">Đang giao</option>
              <option value="delivered">Đã giao</option>
              <option value="cancellation">Đã huỷ</option>
              <option value="delivery failed">Không nhận hàng</option>
            </select>
            <input
              formControlName="keyword"
              type="text"
              class="block p-2 pl-4 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Tìm kiếm theo tên"
            />
          </form>
        </div>
      </div>
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3 w-[40px]">STT</th>
            <th scope="col" class="px-6 py-3 max-w-[60px]">Mã đơn hàng</th>
            <th scope="col" class="px-6 py-3">Tên người nhận</th>
            <th scope="col" class="px-6 py-3">Số điện thoại</th>
            <th scope="col" class="px-6 py-3">Email khách hàng</th>
            <th scope="col" class="px-6 py-3">Ngày đặt hàng</th>
            <th scope="col" class="px-6 py-3">Tổng giá</th>
            <th scope="col" class="px-6 py-3">Trạng thái đơn hàng</th>
            <th scope="col" class="px-6 py-3">Ghi chú</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <div *ngIf="dataBill.length == 0" class="w-full text-center">
          <h3 class="text-3xl py-6">Danh sách đơn hàng trống</h3>
        </div>
        <tbody *ngIf="dataBill.length > 0">
          <tr
            class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600 w-[40px]"
            *ngFor="let item of dataBill; let i = index"
          >
            <td class="w-4 p-4 font-semibold text-center">{{ i + 1 }}</td>
            <td
              scope="row"
              class="px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white overflow-hidden"
            >
              {{ item._id }}
            </td>
            <td
              class="px-6 font-medium whitespace-nowrap dark:text-white overflow-hidden"
            >
              {{ item.name }}
            </td>
            <td class="px-6">{{ item.tel }}</td>
            <td class="px-6 overflow-hidden">{{ item.email }}</td>
            <td class="px-6">{{ formatDate(item.createdAt) }}</td>
            <td class="px-6 text-red-500 font-semibold text-center">
              {{ formatMoney(item.price) }}
            </td>
            <td class="px-6 text-black">
              <select
                class="border border-black py-2 px-2"
                (change)="onHandleStatus($event, item._id)"
              >
                <option
                  value="pending"
                  [selected]="item.status === 'pending' ? true : null"
                >
                  Chờ duyệt
                </option>
                <option
                  value="approved"
                  [selected]="item.status === 'approved' ? 'selected' : null"
                >
                  Đã duyệt
                </option>

                <option
                  value="delivery in progress"
                  [selected]="
                    item.status === 'delivery in progress' ? true : null
                  "
                >
                  Đang giao hàng
                </option>
                <option
                  value="delivered"
                  [selected]="item.status === 'delivered' ? true : null"
                >
                  Đã giao hàng
                </option>
                <option
                  value="delivery failed"
                  [selected]="item.status === 'delivery failed' ? true : null"
                >
                  Giao hàng thất bại
                </option>
                <option
                  value="cancellation"
                  [selected]="item.status === 'cancellation' ? true : null"
                >
                  Hủy đơn
                </option>
              </select>
            </td>
            <td class="px-6 line-clamp-3 overflow-scroll overflow-x-hidden">
              {{ item.note }}
            </td>

            <td class="px-6">
              <a routerLink="/admin/checkouts/details/{{ item._id }}"
                ><button class="bg-black text-white px-4 py-2">
                  Xem chi tiết
                </button></a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <hr />
      <div class="pt-3">
        <div class="text-center w-full" aria-label="Page navigation example">
          <ul class="inline-flex items-center -space-x-px">
            <div *ngIf="nowPage !== null">
              <button
                *ngIf="prevPage !== null"
                (click)="onHandlePage(prevPage)"
                class="px-4 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              >
                {{ prevPage }}
              </button>
              <button
                (click)="onHandlePage(nowPage)"
                class="px-4 py-2 leading-tight text-gray-500 bg-black border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              >
                {{ nowPage }}
              </button>
              <button
                *ngIf="nextPage !== null"
                (click)="onHandlePage(nextPage)"
                class="px-4 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              >
                {{ nextPage }}
              </button>
            </div>
            <!-- <li>
              <a
                href="#"
                class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                >2</a
              >
            </li>
            <li>
              <a
                href="#"
                aria-current="page"
                class="z-10 px-3 py-2 leading-tight text-white border bg-black dark:border-gray-700 dark:bg-gray-700 dark:text-white"
                >3</a
              >
            </li>
            <li>
              <a
                href="#"
                class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                >4</a
              >
            </li>
            <li>
              <a
                href="#"
                class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                >5</a
              >
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>
