.size_sold {
  background-color: #d6d6d6;
  position: relative;
  cursor: not-allowed;
}

.size_sold::before {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: red;
  transform: translate(-50%, -50%) skew(313deg, 359deg);
}
.size_sold p {
  color: #bea1a1;
}
/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
/* @import url("https://fonts.googleapis.com/css?family=Rubik&display=swap"); */

.number-input-container {
  width: 138px;
  display: grid;
  grid-template-columns: 33px auto 33px;
}

.number-input {
  width: 100%;

  display: flex;
  flex-direction: row;

  background-color: #eeeeee;

  overflow: hidden;
}

input[type="number"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 100%;
  min-width: 100%;
  height: 33px;
  background-color: white;
  border: 1px solid #ede6d9;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-radius: none;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  transition: all 0.2s ease-out;
  font-weight: 700;
}

input[type="number"]:focus {
  background-color: white;
  border: 1px solid #9c7830;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button#price_btn {
  position: relative;

  height: 100%;

  margin-top: 32px;
  padding: 12px 16px;

  background-color: #eeeeee;

  border: 1px solid #ede6d9;
  border-radius: none;

  transition: all 0.1s ease-out;

  cursor: pointer;

  -webkit-appearance: none;

  -webkit-transform: scale(1);
  transform: scale(1);
}

button#price_btn {
  margin: 0;

  color: #112c34;
}

button#price_btn:active,
button#price_btn:focus {
  outline: none;
}

button#price_btn::after {
  content: "";

  position: absolute;

  opacity: 1;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  transition: inherit;

  background-position: center;
  background-repeat: no-repeat;
}

button#price_btn:disabled {
  pointer-events: none;
}

button#price_btn:disabled::after {
  opacity: 0.25;
}

.button-decrement::after {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 12H7' stroke='%23112C34' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.button-increment::after {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7V17' stroke='%23112C34' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 12H7' stroke='%23112C34' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.button-decrement {
  border-right: none;
}

.button-increment {
  border-left: none;
}

@media (hover: hover) {
  input[type="number"]:hover,
  button#price_btn:hover {
    background-color: white;
  }

  button#price_btn:active {
    background-color: #eeeeee;
    transform: translateY(1px);
  }
}

@media (hover: none) {
  button#price_btn:active {
    background-color: white;
    transform: translateY(1px);
  }
}
