<div class="w-[450px] mx-auto border">
  <div class="m-5">
    <p class="text-center bg-[#F3F5F6] py-2">Giỏ hàng</p>
  </div>
  <div id="cart-empty" class="svgico-mini-cart my-5 hidden">
    <svg class="mx-auto" width="70" height="70" viewBox="0 0 81 70">
      <g
        transform="translate(0 2)"
        stroke-width="4"
        stroke="#1e2d7d"
        fill="none"
        fill-rule="evenodd"
      >
        <circle stroke-linecap="square" cx="34" cy="60" r="6"></circle>
        <circle stroke-linecap="square" cx="67" cy="60" r="6"></circle>
        <path
          d="M22.9360352 15h54.8070373l-4.3391876 30H30.3387146L19.6676025 0H.99560547"
        ></path>
      </g>
    </svg>
    <p class="text-center my-5">Hiện chưa có sản phẩm</p>
  </div>
  <div class="my-5 p-5">
    <div class="grid grid-cols-5 gap-3">
      <div>
        <img
          src="https://product.hstatic.net/200000307615/product/5__2__71fd137f95c6496b89237d27ba0136bb_master.jpg"
          alt=""
        />
      </div>
      <div class="col-span-3">
        <p class="font-bold text-sm mb-1">PRODUCT 1 abcd</p>
        <p class="font-bold text-sm mb-1">
          680.000 <span class="underline">đ</span>
        </p>
        <div class="w-6 h-6 bg-[#F5F5F5] text-center">2</div>
      </div>
    </div>
  </div>
  <hr />

  <div class="p-5 flex justify-between items-center">
    <div>Tổng tiền:</div>
    <div class="text-[#FF0000] font-bold">
      0<span class="underline">đ</span>
    </div>
  </div>
  <div class="p-5 flex justify-between items-center">
    <button class="px-10 py-3 bg-black text-white uppercase">
      Xem giỏ hàng
    </button>
    <button class="px-10 py-3 bg-black text-white uppercase">Thanh toán</button>
  </div>
  <hr />
</div>
