<section class="mx-auto container p-8">
  <div class="grid grid-cols-6">
    <div></div>
    <div class="col-span-3 pr-20">
      <h3 class="text-2xl my-4">FSTORE</h3>
      <p class="my-4">Thông tin giao hàng</p>
      <div class="flex">
        <div class="mr-5">
          <i class="fas fa-user-alt" style="font-size: 48px"></i>
        </div>
        <div>
          <p>Thai Vu Hong (thaivhph28695@fpt.edu.vn)</p>
          <a class="text-blue-500" href="#">Đăng xuất</a>
        </div>
      </div>
      <form class="mt-8" action="">
        <div class="relative my-4">
          <input
            class="w-full border pt-6 pl-3 focus:outline-none"
            type="text"
            placeholder=""
          />
          <p class="text-gray-400 text-md ml-3 absolute top-0">Họ và tên</p>
        </div>
        <div class="relative my-4">
          <input
            class="w-full border pt-6 pl-3 focus:outline-none"
            type="text"
            placeholder=""
          />
          <p class="text-gray-400 text-md ml-3 absolute top-0">Địa chỉ</p>
        </div>
        <div class="relative my-4">
          <input
            class="w-full border pt-6 pl-3 focus:outline-none"
            type="text"
            placeholder=""
          />
          <p class="text-gray-400 text-md ml-3 absolute top-0">Số điện thoại</p>
        </div>

        <div class="relative my-4">
          <input
            class="w-full border pt-6 pl-3 focus:outline-none"
            type="text"
            placeholder=""
          />
          <p class="text-gray-400 text-md ml-3 absolute top-0">Địa chỉ</p>
        </div>
        <div class="relative my-4">
          <input
            class="w-full h-15 border pt-6 pl-3 focus:outline-none"
            type="text"
            placeholder=""
          />
          <p class="text-gray-400 text-md ml-3 absolute top-0">Ghi chú</p>
        </div>
        <div class="flex items-center justify-between my-8">
          <a class="text-blue-400" href="#">Giỏ hàng</a>
          <button class="text-white bg-black py-3 px-10">Thanh toán</button>
        </div>
      </form>
    </div>
    <div class="col-span-2 px-5 bg-[#FAFAFA] py-5">
      <div class="flex justify-between items-center">
        <div class="mr-5 relative">
          <img
            class="w-[60px] rounded-md"
            src="https://product.hstatic.net/200000307615/product/7__2__31af12cab2374c02b2df8c3fe98ce9b6_small.jpg"
            alt=""
          />
          <div
            class="absolute w-6 h-6 top-[-12px] right-[-12px] rounded-full text-center z-99 text-white bg-gray-400"
          >
            1
          </div>
        </div>
        <div class="w-1/2">
          <p>PRODUCT 1</p>
          <span class="text-sm text-gray-500">30</span>
        </div>
        <div>
          <p>500.000 <span class="underline">đ</span></p>
        </div>
      </div>
      <hr class="my-8" />
      <div class="flex justify-between items-center">
        <p class="my-4">Tạm tính</p>
        <p>500.000 <span class="underline">đ</span></p>
      </div>
      <div class="flex justify-between items-center">
        <p class="my-4">Phí vận chuyển</p>
        <p>---</p>
      </div>
      <hr class="my-8" />
      <form action="">
        <div class="relative my-4 flex justify-between">
          <input
            class="w-4/6 border pt-6 px-3 focus:outline-none"
            type="text"
            placeholder=""
          />
          <p class="text-gray-400 text-md ml-3 absolute top-0">Mã giảm giá</p>
          <button class="px-10 py-3 text-white bg-black">Sử dụng</button>
        </div>
      </form>

      <div class="flex justify-between items-center">
        <p class="my-4 text-xl">Tổng cộng</p>
        <p class="text-2xl text-red-600 font-semibold">
          500.000 <span class="underline">đ</span>
        </p>
      </div>
    </div>
  </div>
</section>
