<section
  [ngClass]="
    notification == 1
      ? 'fixed left-1/2 top-[110px]'
      : 'fixed left-1/2 top-[-50px]'
  "
  style="transform: translate(-50%, -50%); transition: all 0.35s"
>
  <div
    class="flex p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
    role="alert"
  >
    <svg
      aria-hidden="true"
      class="flex-shrink-0 inline w-5 h-5 mr-3"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
        clip-rule="evenodd"
      ></path>
    </svg>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">Đặt đơn hàng thành công thành công!</span>
    </div>
  </div>
</section>
<section class="mx-auto container p-8">
  <div class="grid grid-cols-6">
    <div></div>
    <div class="col-span-3 pr-20">
      <h3 class="text-2xl my-4">FSTORE</h3>
      <p class="my-4">Thông tin giao hàng</p>
      <div class="flex">
        <div class="mr-5">
          <i class="fas fa-user-alt" style="font-size: 48px"></i>
        </div>
        <div>
          <p>Thai Vu Hong (thaivhph28695@fpt.edu.vn)</p>
          <a class="text-blue-500" href="#">Đăng xuất</a>
        </div>
      </div>
      <form
        class="mt-8"
        action=""
        [formGroup]="billForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="relative my-4">
          <input
            class="w-full border pt-6 pl-3 focus:outline-none"
            type="text"
            placeholder=""
            formControlName="name"
          />
          <p class="text-gray-400 text-md ml-3 absolute top-0">Họ và tên</p>
        </div>
        <div class="relative my-4">
          <input
            class="w-full border pt-6 pl-3 focus:outline-none"
            type="text"
            placeholder=""
            formControlName="address"
          />
          <p class="text-gray-400 text-md ml-3 absolute top-0">Địa chỉ</p>
        </div>
        <div class="relative my-4">
          <input
            class="w-full border pt-6 pl-3 focus:outline-none"
            type="text"
            placeholder=""
            formControlName="tel"
          />
          <p class="text-gray-400 text-md ml-3 absolute top-0">Số điện thoại</p>
        </div>
        <div class="relative my-4">
          <input
            class="w-full h-15 border pt-6 pl-3 focus:outline-none"
            type="text"
            placeholder=""
            formControlName="note"
          />
          <p class="text-gray-400 text-md ml-3 absolute top-0">Ghi chú</p>
        </div>
        <div class="flex items-center justify-between my-8">
          <a class="text-blue-400" href="#">Giỏ hàng</a>
          <button class="text-white bg-black py-3 px-10">Thanh toán</button>
        </div>
      </form>
    </div>
    <div class="col-span-2 px-5 bg-[#FAFAFA] py-5">
      <div
        class="flex justify-between items-center my-1"
        *ngFor="let item of dataCart"
      >
        <div class="flex w-[60%]">
          <div class="mr-5 relative">
            <img class="w-[60px] rounded-md" src="{{ item.image[0] }}" alt="" />
            <div
              class="absolute w-5 h-5 top-[-12px] right-[-12px] rounded-full text-center z-99 text-white bg-gray-400"
            >
              <span
                class="text-[13px] absolute top-[50%] left-[50%]"
                style="transform: translate(-50%, -50%)"
              >
                {{ item.quantity }}
              </span>
            </div>
          </div>
          <div class="w-1/2">
            <p class="uppercase text-[14px] line-clamp-1">{{ item.name }}</p>
            <span class="text-sm text-gray-500">30</span>
          </div>
        </div>
        <div>
          <p class="text-[13px] line-clamp-1">{{ formatMoney(item.price) }}</p>
        </div>
      </div>
      <hr class="my-8" />
      <div class="flex justify-between items-center">
        <p class="my-4">Tạm tính</p>
        <p>{{ formatMoney(sumPrice) }}</p>
      </div>
      <div class="flex justify-between items-center">
        <p class="my-4">Phí vận chuyển</p>
        <p>{{ formatMoney(shiperPrice) }}</p>
      </div>
      <hr class="my-8" />
      <form action="">
        <div class="relative my-4 flex justify-between">
          <input
            class="w-4/6 border pt-6 px-3 focus:outline-none"
            type="text"
            placeholder=""
          />
          <p class="text-gray-400 text-md ml-3 absolute top-0">Mã giảm giá</p>
          <button class="px-10 py-3 text-white bg-black">Sử dụng</button>
        </div>
      </form>
      <div class="flex justify-between items-center">
        <p class="my-4 text-xl">Tổng cộng</p>
        <p class="text-2xl text-red-600 font-semibold">
          {{ formatMoney(parentSumPrice) }}
        </p>
      </div>
    </div>
  </div>
</section>
<app-loader [isLoadding]="isLoadding"></app-loader>
