/* @import "swiper/less";
@import "swiper/less/navigation";
@import "swiper/less/pagination"; */
@import "swiper/css";
/* @import "swiper/css/navigation"; */
@import "swiper/css/pagination";
/* @import "swiper/css/scrollbar"; */

.card-banner {
  background-color: wheat;
  position: relative;
}
.card-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.45s;
}
.card-banner:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}
.card-banner:hover > button {
  z-index: 10;
  opacity: 1;
  box-shadow: rgb(252 253 254 / 60%) 0px 8px 24px;
}
