<section class="container mx-auto my-8 lg:px-0 px-2">
  <div class="grid lg:grid-cols-4 lg:gap-8 grid-cols-1">
    <div>
      <div class="border p-2 my-6">
        <h3 class="font-bold text-center text-xl uppercase my-3">
          Danh mục trang
        </h3>
        <hr />
        <ul class="mb-8">
          <li class="my-2"><a href="#">Tìm kiếm</a></li>
          <li class="my-2"><a href="#">Giới thiệu</a></li>
          <li class="my-2"><a href="#">Chính sách đổi trả</a></li>
          <li class="my-2"><a href="#">Chính sách bảo mật</a></li>
          <li class="my-2"><a href="#">Dịch vụ</a></li>
        </ul>
      </div>
      <div>
        <img
          src="https://file.hstatic.net/200000307615/file/FSTOREs1938_0f61b151de724b0789da9cf0ec0cd02c.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="col-span-3 my-6">
      <h2 class="text-3xl font-black mb-6">Giới thiệu</h2>
      <h4 class="font-extrabold">
        FSTORE® - Premium Essentials Streetwear /Ép - Nót/ or /First-Son/
      </h4>
      <br />
      <p>
        Với trọng trách như “đứa con đầu lòng”, FSTORE muốn hiện thực hóa hoài
        bão của người sáng lập: Tạo dựng một thương hiệu thời trang kiến tạo quy
        chuẩn mới về chất lượng và sự phù hợp để nâng tầm streetwear Việt Nam.
        Vì đơn giản rằng, người Việt chúng ta xứng đáng sở hữu những sản phẩm
        chất lượng quốc tế với mức giá hợp lý, đặc biệt trong bối cảnh nước ta
        đang là nước gia công sản phẩm cho nhiều nhãn hàng thời trang nổi tiếng.
        <br /><br />
        Chúng tôi là FSTORE - thương hiệu thời trang streetwear Việt Nam hàng
        đầu về jeans.
      </p>
      <img
        class="mx-auto my-8"
        src="../../../../assets/images/banner fstore.png"
        alt=""
      />
    </div>
  </div>
</section>
