<section>
  <div class="max-w-[1440px] m-auto flex gap-3 py-4 px-10">
    <div class="w-[30%] px-5">
      <div class="border border-gray-200 p-4 px-6 text-sm font-semibold">
        <h3 class="text-center font-bold text-lg">DANH MỤC TRANG</h3>
        <div class="min-w-full h-[2px] bg-black opacity-80 my-3"></div>
        <div class="flex flex-col gap-2 pb-4">
          <div>
            <a routerLink="">Tìm kiếm</a>
          </div>
          <div>
            <a routerLink="">Giới thiệu</a>
          </div>
          <div>
            <a routerLink="">Chính sách đổi trả</a>
          </div>
          <div>
            <a routerLink="">Chính sách bảo mật</a>
          </div>
          <div>
            <a routerLink="">Điều khoản dịch vụ</a>
          </div>
        </div>
      </div>
      <div class="p-5 px-0">
        <img
          src="https://file.hstatic.net/200000307615/file/fnoss1938_0f61b151de724b0789da9cf0ec0cd02c.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="w-[70%] px-5">
      <div>
        <h1 class="font-bold text-3xl my-3">Điều khoản dịch vụ</h1>
        <div class="text-sm">
          <div>
            <h5 class="font-bold my-3 underline">1. Giới thiệu</h5>
            <p>Chào mừng quý khách hàng đến với website chúng tôi.</p>
            <p>
              Khi quý khách hàng truy cập vào trang website của chúng tôi có
              nghĩa là quý khách đồng ý với các điều khoản này. Trang web có
              quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong
              Điều khoản mua bán hàng hóa này, vào bất cứ lúc nào. Các thay đổi
              có hiệu lực ngay khi được đăng trên trang web mà không cần thông
              báo trước. Và khi quý khách tiếp tục sử dụng trang web, sau khi
              các thay đổi về Điều khoản này được đăng tải, có nghĩa là quý
              khách chấp nhận với những thay đổi đó.
            </p>
            <p>
              Quý khách hàng vui lòng kiểm tra thường xuyên để cập nhật những
              thay đổi của chúng tôi.
            </p>
          </div>
          <div>
            <h5 class="font-bold my-3 underline">
              2. Hướng dẫn sử dụng website
            </h5>
            <p>
              Khi vào web của chúng tôi, khách hàng phải đảm bảo đủ 18 tuổi,
              hoặc truy cập dưới sự giám sát của cha mẹ hay người giám hộ hợp
              pháp. Khách hàng đảm bảo có đầy đủ hành vi dân sự để thực hiện các
              giao dịch mua bán hàng hóa theo quy định hiện hành của pháp luật
              Việt Nam.
            </p>
            <p>
              Trong suốt quá trình đăng ký, quý khách đồng ý nhận email quảng
              cáo từ website. Nếu không muốn tiếp tục nhận mail, quý khách có
              thể từ chối bằng cách nhấp vào đường link ở dưới cùng trong mọi
              email quảng cáo.
            </p>
          </div>
          <div>
            <h5 class="font-bold my-3 underline">
              3. Thanh toán an toàn và tiện lợi
            </h5>
            <p>
              Người mua có thể tham khảo các phương thức thanh toán sau đây và
              lựa chọn áp dụng phương thức phù hợp:
            </p>
            <p>
              Cách 1: Thanh toán trực tiếp (người mua nhận hàng tại địa chỉ
              người bán)
            </p>
            <p>Cách 2: Thanh toán sau (COD – giao hàng và thu tiền tận nơi)</p>
            <p>Cách 3: Thanh toán online qua thẻ tín dụng, chuyển khoản</p>
          </div>
        </div>
      </div>
      <div>
        <h1 class="font-bold text-3xl my-3">Chính sách đổi trả</h1>
        <div class="text-sm">
          <div>
            <h5 class="font-bold my-3 underline">1. Điều kiện áp dụng</h5>
            <p>- Hàng hoá vẫn còn mới, chưa qua sử dụng, còn đầy đủ tem tag.</p>
            <p>
              - Hàng hoá bị lỗi hoặc hư hỏng do vận chuyển hoặc do nhà sản xuất
            </p>
          </div>
          <div>
            <h5 class="font-bold my-3 underline">
              2. Trường hợp được chấp nhận:
            </h5>
            <p>- Hàng không đúng size, kiểu dáng như quý khách đặt hàng</p>
            <p>- Không đủ số lượng, không đủ bộ như trong đơn hàng</p>
          </div>
          <div>
            <h5 class="font-bold my-3 underline">
              3. Trường hợp không đủ điều kiện áp dụng chính sách:
            </h5>
            <p>
              - Gửi lại hàng không đúng mẫu mã, không phải sản phẩm của FNOS
            </p>
            <p>- Không thích, không hợp, đặt nhầm mã, nhầm màu,...</p>
            <p>- Hàng hóa đã qua sử dụng, không còn tem tag.</p>
          </div>
          <div>
            <p class="my-5">
              Do màn hình và điều kiện ánh sáng khác nhau, màu sắc thực tế của
              sản phẩm có thể chênh lệch khoảng 3-5%
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
