<section class="mx-auto container py-8">
  <h2 class="font-semibold text-3xl text-center my-8">Tài khoản của bạn</h2>
  <div class="grid grid-cols-4 gap-8 mx-auto">
    <div></div>
    <div>
      <h3 class="my-5 font-bold">TÀI KHOẢN</h3>
      <ul>
        <li><a href="#">Thông tin tài khoản</a></li>
        <li><a href="#">Đơn hàng đã mua</a></li>
        <li><a href="#">Đăng xuất</a></li>
      </ul>
    </div>

    <div class="">
      <div>
        <h3 class="my-5 font-bold">THÔNG TIN TÀI KHOẢN</h3>
        <p>Tên người dùng: Thai Vu Hong</p>
        <p>Email: thaivhph28695@fpt.edu.vn</p>
        <p>Giới tính: Nam</p>
        <a class="text-blue-500" href="">Chỉnh sửa thông tin</a>
      </div>
    </div>
    <div></div>
  </div>
</section>
